<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles.css">
    <script src="../../static/script.js"></script>
    <title>Manual - Backend2</title>
</head>
<body>
    <header>
        <h3 class="h1-header">Backend1</h3>
        <a class="button-header" href="/">Home</a>
    </header>
    <div class="content">
        <div class="title">ModelBindingInParameters</div>
        <form action="">
            <input type="number" placeholder="first value" class="first-input">
            <select name="sign" id="" class="sign">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="number" placeholder="second value" class="second-input">
            <button class="submit" type="button">Submit</button>
        </form>
    </div>
    <footer><p>© 2023 - Backend2</p></footer>
</body>
</html>